.dark_blue {
	color: #243b4b;
}

.light_blue {
	color: #497696;
}

.dark_yellow {
	color: #dfda68;
}

.light_yellow {
	color: #f0ea6f;
}

.dark_green {
	color: #265b44;
}

.light_green {
	color: #2e755b;
}

.beige {
	color: #f4eee9;
}

.black {
	color: #221f20;
}

.white {
	color: #feffff;
}